* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}
li {
    list-style: none;
}
html {
    background: var(--default-bg);
}

.margin-top {
    margin-top: 1.5rem;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.hidden {
    display: none;
}