:root {
    // --default-navbar: #121F27;
    // --default-bg: #E4EEF0;
    // --default-btn: #416275;
    // --default-input: #BBCFDA;
    --cold-navbar: #121F27;
    --cold-bg: #E4EEF0;
    --cold-btn: #416275;
    --cold-input: #BBCFDA;
    --warm-navbar: #AA0000;
    --warm-bg: #F2F2F2;
    --warm-btn: #D43600;
    --warm-input: #FFCA00;
    --gray-navbar: #0B0B0B;
    --gray-bg: #F3F3F3;
    --gray-btn: #404040;
    --gray-input: #BEBEBE;
    --default-navbar: #0B0B0B;
    --default-bg: #F3F3F3;
    --default-btn: #404040;
    --default-input: #BEBEBE;
    --padding: 1.5rem;
}

