:root {
    --default-navbar: #121F27;
    --default-bg: #E4EEF0;
    --default-btn: #416275;
    --default-input: #BBCFDA;
    --cold-navbar: #121F27;
    --cold-bg: #E4EEF0;
    --cold-btn: #416275;
    --cold-input: #BBCFDA;
    --warm-navbar: #AA0000;
    --warm-bg: #F2F2F2;
    --warm-btn: #D43600;
    --warm-input: #FFCA00;
    --yellow-navbar: #7F7606;
    --yellow-bg: #E5D53E;
    --yellow-btn: #BFB20A;
    --yellow-input: #FFED0A;
    --padding: 1.5rem;
    --error: #ff0000d5;
}