form {
    width: 100%;
    .right {
        .btn {
            &:hover {
                color: var(--default-btn);
            }
        }
    }
}

input {
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: .75rem 1rem;
    outline: 1px solid transparent;
    border: 1px solid gray;
    width: 100%;
    font-size: .8rem;
    @include transition;
}

.input-group {
    margin-bottom: 1.5rem;
    .input-field {
        display: flex;
        p {
            width: 44px;
            position: relative;
            background: white;
            border: 1px solid gray;
            border-right: none;
            background: var(--default-input);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after {
                content: '';
                padding-top: 100%;
            }
        }
        input {
            flex-grow: 1;
        }
    }
    input {
        background: white;
        border: 1px solid gray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    label {
        display: block;
        font-size: .8rem;
        margin: .5rem 0;
    }
}