nav {
    background: var(--default-navbar);
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: calc(var(--padding) / 2);
        li {
            a {
                margin-left: calc(var(--padding) / 2);
            }
        }
    }
    &.default {
        background: #219ac6;
        .btn {
            background: #1c83a8!important;
            &.border {
                border: 2px solid #1c83a8!important;
            }
            &:hover {
                background: transparent!important;
            }
        }
    }
    &.sidebar {
        top: 0;
        bottom: 0;
        background: var(--default-navbar);
        width: 62px;
        position: fixed;
        ul {
            flex-direction: column;
            justify-content: flex-start;            
            li {
                margin-bottom: calc(var(--padding) / 1);
                &:first-child {
                    margin-top: calc(var(--padding) / 2);
                }
                a {
                    margin-left: 0;
                    padding: calc(var(--padding) / 2) 0;
                    width: 100%;
                    position: relative;
                    border-radius: 0;
                    svg {
                        margin-left: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    $sides: 20;
                    $con: $sides / 2;                    
                    &:after, &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:after {
                        top: calc(100% + 2px);
                        border-left: #{$sides + 'px'} solid transparent;
                        border-right: #{$sides + 'px'} solid transparent;
                        border-top: #{$con + 'px'} solid var(--default-btn);
                    }
                    &:before {
                        bottom: calc(100% + 2px);
                        border-left: #{$sides + 'px'} solid transparent;
                        border-right: #{$sides + 'px'} solid transparent;
                        border-bottom: #{$con + 'px'} solid var(--default-btn);
                    }
                    .bubble {
                        position: absolute;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        background: var(--error);
                        color: white;
                        top: -10px;
                        right: -10px;
                        font-size: .6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}