.radio {
    input[type=radio] {
        display: none;
        &:checked + label {
            border: 2px solid var(--default-btn);
            .icon {
                display: flex;
            }
        }
    }
    label {
        position: relative;
        display: block;
        border: 2px solid transparent;
        border-radius: 5px;
        .icon {
            background: var(--default-btn);
            color: white;
            border-radius: 50%;
            padding: .25rem;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -13px;
            right: -13px;
            svg {
                font-size: .8rem;
            }
        }
    }
    img {
        max-width: 100%;
        display: block;
        border-radius: 5px;
    }
}

.radio-button {
    input[type=radio] {
        display: none;
        &:checked + label {
            .circle {
                &:after {
                    background: var(--default-btn);
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: .8rem;
        margin-bottom: .5rem;
        &:hover {
            color: var(--default-btn);
            cursor: pointer;
        }
        .circle {
            margin-right: 1rem;
            width: 16px;
            height: 16px;
            border: 1px solid var(--default-btn);
            border-radius: 50%;
            &:after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                transform: scale(.8);
                border-radius: 50%;
                background: transparent;
                @include transition;
            }
        }
    }
}