*{
	margin: 0;
	padding: 0;
}
.todo{
	margin-left: 45px;
	display: flex;
}
.Conversaciones{
	width: 20%;
	border: 2px solid #ccc;
	margin: 10px;
	display: inline-block;

}
.Convercaciones p{
	background-color:  #bfe7ff;
	padding: 5px;
}
.Todos {
	height: 530px;
}
.Usuarios{
	width: 90%;
	border: 2px solid #ccc;
	margin: 5px auto;

}
.Usuarios p{
	background-color:  #bfe7ff;
	padding: 5px;
}
.Usuarios div{
	height: 30px;
}

.Conversacion{
	width: 70%;
	border: 2px solid #ccc;
	margin: 10px;
	display: inline-block;
}
.Conversacion p{
	background-color:  #bfe7ff;
	padding: 5px;
}

.MensajeNuevo{
	bottom: 0;
	display: flex;
	height: 20px;
}
#Mensaje{
	width: 100%;
}
.MensajeNuevo input[type="text"]
{
	border-radius: 5px;
	width: 90%;
    border: 1px solid #dcdcdc;
    padding: 10px 10px;
}
.Mensajes{
margin-bottom: 10px;

overflow: auto;
width: 100%;
max-height: 300px;
}
.Mensaje{
text-align: left;
padding: 10px;
}
.Mensaje a{
	color: #219ac6;
	cursor: pointer;

}
.Mensaje .fecha{
	font-size: 10px;
	color: #aaa;
	float: right;
}