*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
.Reto{
	margin: 50px auto;
    width: 80%;
    background-color: #bfe7ff;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
}
.Fila{
	display: block;
	position: relative;
	margin: 5px;
}
.Subir{
	display: inline-block;
	padding: 15px 40px 15px 40px;
	position:relative;
	float: right;
	font-weight: bold;
    background: #219ac6;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 3px black;
	/*background-color: #ccc;
	text-align: center;
	border-radius: 10px;
	position:relative;
	float: right;*/
}
.Subir a{
	color: white;
}
.Subir:Hover{
	background-color:#1c83a8;
	
	cursor: pointer;
}
.Descripcion{
	display: inline-block;
	width: 75%;
}

.Apoyo{
	display: inline-block;
	padding: 10px 20px 10px 20px;
	line-height: 20px;
	position:relative;

	font-weight: bold;
    background: #219ac6;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 3px black;
}
.Apoyo:Hover{
	background-color:#1c83a8;
	cursor: pointer;
}
.Apoyo a{
	color: white;
}
.Dias{
	display: inline-block;
	width: 50%;

}
h1{
	font-size: 50px;
}
.Retos{
	margin: 20px auto;
    width: 85%;
    border: 2px solid #ccc;
}
.Retos p{
	background-color: #bfe7ff;
}
.ListaR{
	height: 300px;
	overflow: auto;
}
.Sub{
	display: block;
	width: 100%;
	font-size: 35px;
	text-align: center;
}
.Aceptar{
	margin-right: 20px;
}
